Checks: "-*,
        cert*,
        -cert-err33-c,
        bugprone-*,
        -bugprone-switch-missing-default-case,
        -bugprone-easily-swappable-parameters,
        -bugprone-branch-clone,
        -bugprone-exception-escape,
        -bugprone-implicit-widening-of-multiplication-result,
        clang-analyzer-*,
        -clang-analyzer-osx.cocoa.*,
        concurrency-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-rvalue-reference-param-not-moved,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-avoid-c-arrays,
        hicpp-*,
        -hicpp-no-array-decay,
        -hicpp-braces-around-statements,
        -hicpp-vararg,
        -hicpp-avoid-c-arrays,
        -hicpp-exception-baseclass,
        -hicpp-named-parameter,
        misc-*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-use-using,
        -modernize-avoid-c-arrays,
        -modernize-macro-to-enum,
        -modernize-make-unique,
        mpi-*,
        performance-*,
        portability-*,
        readability-*,
        -readability-braces-around-statements,
        -readability-identifier-length,
        -readability-magic-numbers,
        -readability-implicit-bool-conversion,
        -readability-else-after-return,
        -readability-redundant-access-specifiers,
        -readability-named-parameter,
        -readability-inconsistent-declaration-parameter-name,
        -readability-isolate-declaration
"

CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-function-cognitive-complexity.Threshold
    value: 50
