Checks: "-*,
        cert*,
        -cert-err33-c,
        bugprone-*,
        -bugprone-switch-missing-default-case,
        -bugprone-easily-swappable-parameters,
        -bugprone-branch-clone,
        -bugprone-exception-escape,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-assignment-in-if-condition,
        -bugprone-multi-level-implicit-pointer-conversion,
        clang-analyzer-*,
        -clang-analyzer-osx.cocoa.*,
        -clang-diagnostic-unknown-pragmas,
        -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
        concurrency-*,
        -concurrency-mt-unsafe,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-rvalue-reference-param-not-moved,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-macro-to-enum,
        google-*,
        -google-runtime-int,
        hicpp-*,
        -hicpp-no-array-decay,
        -hicpp-braces-around-statements,
        -hicpp-vararg,
        -hicpp-avoid-c-arrays,
        -hicpp-exception-baseclass,
        -hicpp-named-parameter,
        -hicpp-no-assembler,
        -hicpp-signed-bitwise,
        misc-*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -misc-confusable-identifiers,
        modernize-*,
        -modernize-use-trailing-return-type,
        modernize-use-using,
        -modernize-avoid-c-arrays,
        -modernize-macro-to-enum,
        modernize-make-unique,
        -modernize-use-nodiscard,
        modernize-type-traits,
        modernize-use-ranges,
        modernize-use-designated-initializers,
        -modernize-use-std-numbers,
        modernize-use-constraints,
        -modernize-use-transparent-functors,
        mpi-*,
        performance-*,
        -performance-enum-size,
        portability-*,
        readability-*,
        -readability-avoid-unconditional-preprocessor-if,
        -readability-braces-around-statements,
        -google-readability-braces-around-statements,
        -readability-identifier-length,
        -readability-magic-numbers,
        -readability-implicit-bool-conversion,
        -readability-else-after-return,
        -readability-redundant-access-specifiers,
        -readability-named-parameter,
        -readability-inconsistent-declaration-parameter-name,
        -readability-math-missing-parentheses,
        -readability-isolate-declaration,
        -readability-container-contains,
        -readability-use-anyofallof
"

CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-function-cognitive-complexity.Threshold
    value: 50

ExcludeHeaderFilterRegex: '/usr/lib/gcc/.*'

HeaderFileExtensions:         ['h','hpp']
ImplementationFileExtensions: ['c','cpp']
